{% extends 'base.html.twig' %}

{% block title %} Modification du profile utilisateur{% endblock %}

{% block body %}
    <div class="container">
        <h1>Modification du profil</h1>
    </div>
{% endblock %}