{% extends 'base.html.twig' %}

{% block title %} Créer un bien{% endblock %}
{% block body %}
    <div class="container mt-4">
        <h1>Créer un bien</h1>
        {{ include('admin/property/_form.html.twig', {form: form, button: "Créer"}) }}
    </div>
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.5/css/select2.min.css" />
{% endblock %}

{% block javascripts %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.5/js/select2.min.js"></script>
    <script>
        $('select').select2();
    </script>
{% endblock %}