{% extends 'base.html.twig' %}

{% block title %} tous les biens{% endblock %}
{% block body %}
    <div class="container">
        <h1 class="text-center">Tous les biens</h1>
        <p class="text-center">fkdjkdfjkdfjk</p>

        <div class="row flex mt-4">
            {% for property in properties %}
                {% include 'property/_property.html.twig' %}
            {% endfor %}
        </div>

        <div class="navigation">
            {{ knp_pagination_render(properties) }}
        </div>
    </div>
{% endblock %}