{% extends 'base.html.twig' %}

{% block title %} tous les biens{% endblock %}
{% block body %}
    <div class="container text-center">
        <h1>Tous les biens</h1>
        <p>fkdjkdfjkdfjk</p>
    </div>
{% endblock %}