<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <title>Agence IMMO - {% block title %}Accueil{% endblock %}</title>
        <link rel="stylesheet" href="/css/bootstrap.min.css">
        <link rel="stylesheet" href="/css/app.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.5/css/select2.min.css" />
        <link rel="stylesheet" href="https://unpkg.com/leaflet@1.4.0/dist/leaflet.css"
              integrity="sha512-puBpdR0798OZvTTbP4A8Ix/l+A4dHDD0DGqYW6RQ+9jxkRFclaxxQb/SJAWZfWAkuyeQUytO7+7N4QKrDh+drA=="
              crossorigin=""/>
        <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick-theme.min.css" />
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-primary">
        <a class="navbar-brand" href="{{ path('index') }}">Agence IMMO</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link {% if current_menu is defined and current_menu == 'properties' %}active{% endif %}" href="{{ path('property.index') }}">Voir nos biens</a>
                </li>
            </ul>
            {% if app.user %}
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a href="{{ path('logout') }}" class="nav-link">Se déconnecter</a>
                </li>
            </ul>
            {% endif %}
        </div>
    </nav>

        {% block body %}{% endblock %}
        <script src="/js/jquery_3_3_1.min.js"></script>
        <script src="/js/bootstrap.min.js"></script>
        <script src="/js/popper.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.5/js/select2.min.js"></script>
        <script src="https://cdn.jsdelivr.net/places.js/1/places.min.js"></script>
        <script src="https://unpkg.com/leaflet@1.4.0/dist/leaflet.js"
            integrity="sha512-QVftwZFqvtRNi0ZyCtsznlKSWOStnDORoefr1enyq5mVL4tmKB3S/EnC3rRJcxCPavG10IcrVGSmPh6Qw5lwrg=="
            crossorigin=""></script>
    <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
        <script>
            // SELECT 2
            $('select').select2();

            // SLICK JS CAROUSEL
            $('[data-slider]').slick({
                dots: true,
                arrows: true
            });

            // CONTACT FORM SLIDING EFFECT
            $('#contactBtn').click(e => {
                e.preventDefault();
                $('#contactForm').slideDown();
                $('#contactBtn').slideUp();
            });

            // AJAX IMAGE DELETE
            // Deleting images of a Property
            document.querySelectorAll('[data-delete]').forEach(a => {
                a.addEventListener('click', e => {
                    e.preventDefault()
                    fetch(a.getAttribute('href'), {
                        method: 'DELETE',
                        headers: {
                            'X-Requested-With': 'XMLHttpRequest',
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify({'_token': a.dataset.token})
                    }).then(response => response.json())
                        .then(data => {
                            if (data.success) {
                                a.parentNode.parentNode.removeChild(a.parentNode)
                            } else {
                                alert(data.error)
                            }
                        })
                        .catch(e => alert(e))
                })
            });
        </script>
        <script>
            let inputAdress = document.querySelector('#property_address');
            if (inputAdress !== null) {
                let place = places({
                    container: inputAdress
                });
                place.on('change', e => {
                    if (document.querySelector('#property_city').value === 'undefined' &&
                    e.suggestion.type === 'city')
                    {
                        document.querySelector('#property_city').value = e.suggestion.name;
                    } else {
                        document.querySelector('#property_city').value = e.suggestion.city;
                    }
                    document.querySelector('#property_zip_code').value = e.suggestion.postcode;
                    document.querySelector('#property_lat').value = e.suggestion.latlng.lat;
                    document.querySelector('#property_lng').value = e.suggestion.latlng.lng;
                })
            }
        </script>
        <script>
            let addressSearch = document.querySelector('#search_address');
            if (addressSearch !== null) {
                let place = places({
                    container: addressSearch
                });
                place.on('change', e => {
                    document.querySelector('#lat').value = e.suggestion.latlng.lat;
                    document.querySelector('#lng').value = e.suggestion.latlng.lng;
                })
            }
        </script>
        <script>
            class Map {
                    static init () {
                        let map = document.querySelector('#map');
                        if (map === null) {
                            return
                        }
                        let icon = L.icon({
                            iconUrl: '/images/defaults/marker-icon.png',
                        });

                        let center = [map.dataset.lat, map.dataset.lng];
                        map = L.map('map').setView(center, 13);
                        let token = 'pk.eyJ1Ijoic29sb3ZldiIsImEiOiJjanY4MWp1cjgwbTNvNDlsa3lsZHdpbXZzIn0.3GHDPDkeLjLyjAiMfWbQHg';

                        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
                            maxZoom: 18,
                            minZoom: 12,
                            attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
                        }).addTo(map);

                        L.marker(center, {icon: icon}).addTo(map);
                    }
                }

             Map.init();
        </script>
        {% block javascripts %}{% endblock %}
    </body>
</html>
